<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title><%= title %></title>
        <%if(style===true){%>
            <style><%- include("../styles/"+styleFile) %></style>
        <%}else if(style){ %>
            <% var stylePath=process.cwd()+"/"+style;
            try{%>
            <style><%- include(stylePath) %></style>
            <%} catch(e){ console.log("Warning: Style "+stylePath+" not found") }; %>
        <%}%>
        <% if(highlight===true){%>
            <style><%- include("../node_modules/highlight.js/styles/default.css")%></style>
            <script><%- include("../node_modules/highlight.js/lib/highlight.js")%></script>
        <%}%>

        <% if(output==="pdf" && style===true){ %>
            <style>
                pre{
                    overflow: hidden;
                }
                img{
                    zoom: 75%;
                }
                pre code {
                    word-wrap: break-word;
                }
                body {
                    padding: 0 45px 45px;
        <% if(styleFile==="github-markdown.css"){%>
                    font-size: 13px;
        <%}%>
                }
            </style>
        <%}%>

        <% if(koala===true){ %>
            <%
            var backHeight="100%";
            if(output==="pdf") backHeight="824px";
            %>
            <style>
                #pageHeader {
                    content: "";
                    display: block;
                    position: fixed;
                    bottom: 0;
                    right: 0;
                    top: 0;
                    left: 0;
                    height: <%=backHeight%>;
                    z-index: -1;
                    width: 100%;
                    opacity: 1;
                    //background-image: url("file://<%=resourcesPath%>/images/octokoala_watermark.jpg");
                    background-image: url("https://angrykoala.github.io/yamp/octokoala.jpg");
                    background-repeat: no-repeat;
                    background-position: center center;
                    background-size: 40%;
                }

            </style>
        <%}%>
    </head>
    <body>
        <div id="pageHeader"></div>
        <%- content %>
    </body>
</html>
